In [110]:
import pandas as pd
data = pd.read_csv('data_full.csv')

In [111]:
data['person_ID'] = range(1, len(person_table) + 1)

In [112]:
currency_table = data[['currency', 'USD_rate']].copy()
currency_table = currency_table.drop_duplicates()
currency_table['currency_ID'] = range(1, len(currency_table) + 1)

In [113]:
place_table = data[['continent', 'country', 'state', 'city', 'lat', 'long']].copy()
place_table = place_table.drop_duplicates()
place_table['place_ID'] = range(1, len(place_table) + 1)

In [114]:
top_15_places_us = [['New York', 'New York'], ["Los Angeles", "California"], ['Chicago', 'Illinois'], ['Houston', 'Texas'], ['Phoenix', 'Arizona'], ['Philadelphia', 'Pennsylvania'], ['San Antonio', 'Texas'], ['San Diego', 'California'], ['Dallas', 'Texas'], ['San Jose', 'California'], ['Austin', 'Texas'], ['Jacksonville', 'Florida'], ['Fort Worth', 'Texas'], ['Columbus', 'Ohio'], ['Indianapolis', 'Indiana']]
top_15_places_us = pd.DataFrame(top_15_places_us, columns=['City', 'State'])

In [115]:
dct = dict(zip(top_15_places_us['City'], top_15_places_us['State']))
for value in place_table['city']:
    if value in dct.keys():
        place_table['state'] = place_table['city'].map(dct)

In [116]:
position_table = data[['job_title_clean', 'industry_clean']].copy()
position_table = position_table.rename(columns={"job_title_clean": "job_title", "industry_clean": "industry"})
position_table = position_table.drop_duplicates()
position_table['position_ID'] = range(1, len(position_table) + 1)

In [117]:
person_table = data[['person_ID', 'gender', 'gender_idx', 'race', 'race_idx', 'education', 'education_lvl', 'age', 'age_min', 'age_max', 'total_experience', 'total_experience_min', 'total_experience_max', 'current_experience', 'current_experience_min', 'current_experience_max']].copy()
#person_table = person_table.drop_duplicates()

In [118]:
temp_data = pd.merge(data, place_table, on=['lat', 'long'])

In [119]:
position_table_ = position_table.rename(columns={"job_title": "job_title_clean", "industry": "industry_clean"})
temp_data_pos = pd.merge(temp_data, position_table_, on=['industry_clean', 'job_title_clean'])

In [120]:
currency_table_ = currency_table.rename(columns={"name": "currency"})
temp_data_joined = pd.merge(temp_data_pos, currency_table_, on=['currency'])

In [121]:
employee_table = temp_data_joined[['person_ID', 'place_ID', 'position_ID', 'annual_salary', 'annual_salary_USD', 'additional_salary', 'additional_salary_USD', 'total_salary', 'total_salary_USD', 'currency_ID']].copy()

In [122]:
employee_table['annual_salary'] = employee_table['annual_salary'].fillna(0)
employee_table['annual_salary_USD'] = employee_table['annual_salary_USD'].fillna(0)

In [123]:
person_table.to_csv("person_table.csv", index = False)
position_table.to_csv("position_table.csv", index = False)
place_table.to_csv("place_table.csv", index = False)
currency_table.to_csv("currency_table.csv", index = False)
employee_table.to_csv("employee_table.csv", index = False)